<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Belépési oldal</title>
</head>
<body>

<div>
  <h2>Belépési oldal</h2>

  <!-- Login Form -->
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <!-- Felhasználónév -->
    <div>
      <label for="username">Felhasználónév:</label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
      >
      <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
        <div *ngIf="username?.errors?.['required']">A felhasználónév mező kitöltése kötelező!</div>
        <div *ngIf="username?.errors?.['minlength'] || username?.errors?.['maxlength']">
          Felhasználónévnek 3 és 40 karakter között kell lennie!
        </div>
      </div>
    </div>

    <!-- Jelszó -->
    <div>
      <label for="password">Jelszó:</label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
      >
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <div *ngIf="password?.errors?.['required']">A jelszó mező kitöltése kötelező!</div>
        <div *ngIf="password?.errors?.['minlength'] || password?.errors?.['maxlength']">
          Jelszónak 8 és 40 karakter között kell lennie!
        </div>
      </div>
    </div>

    <div *ngIf="wrong > 0">
      Rossz jelszó vagy felhasználónév! Póbálkozás száma: {{wrong}}
    </div>

    <!-- Belépés gomb -->
    <div>
      <button type="submit">Belépés</button>
    </div>

    <!-- Regisztráció gomb -->
    <div>
      <button type="button" (click)="redirectToRegistration()">Regisztráció</button>
    </div>
  </form>
</div>
</body>
</html>

